<div class="row p-2 gap-2 text-center">
  @if (isShowDiv1 == true) {
  <div class="col-3 p-2 bg-success">
    <h2>DIV 1</h2>
  </div>
  }
  <div class="col-3 p-2 bg-info">
    @if (div2show == "Yes") {
    <h2>DIV 2</h2>
    }@else{
    <span>Not Show Div</span>
    }
  </div>
  <div class="col-3 p-2 bg-warning">
    <h2>DIV 3</h2>
  </div>
</div>
<div class="row p-2 gap-2 text-center">
  <div class="col-3 p-2">
    <button class="btn btn-primary" (click)="handleDiv1(true)">Show</button>
    <button class="btn mx-2 btn-danger" (click)="handleDiv1(false)">
      Hide
    </button>
  </div>
  <div class="col-3 p-2 bg-info">
    <input type="text" [(ngModel)]="div2show" />
  </div>
  <div class="col-3 p-2 bg-warning">
    <h2>DIV 3</h2>
  </div>
</div>
