<div class="row">

  <div class="col-3">
    <form [formGroup]="customerForm" (ngSubmit)="customerFormSubmit()">
      <div class="row m-1">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name" />
        <div *ngIf="customerForm.get('name')?.touched && customerForm.get('name')?.invalid" class="text-danger text-sm">
          Name is required.
        </div>
      </div>
      <div class="row m-1">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" formControlName="emailid" class="form-control" placeholder="Enter email" />
        <div *ngIf="customerForm.get('emailid')?.touched && customerForm.get('emailid')?.invalid"
          class="text-danger text-sm">
          Email is required.
        </div>
      </div>
      <div class="row m-1">
        <label for="exampleInputEmail1">Mobile</label>
        <input type="tel" formControlName="mobile" class="form-control" placeholder="Enter Phone No" />
        <div *ngIf="customerForm.get('mobile')?.touched && customerForm.get('mobile')?.invalid"
          class="text-danger text-sm">
          Phone No is required.
        </div>
      </div>
      <div class="row m-1">
        <label for="exampleInputEmail1">Address</label>
        <input type="text" formControlName="address" class="form-control" placeholder="Enter Address" />
        <div *ngIf="customerForm.get('address')?.touched && customerForm.get('address')?.invalid"
          class="text-danger text-sm">
          Address is required.
        </div>
      </div>
      <div class="row">
        <div class="col-8 m-auto ">
          <button class="btn btn-danger" type="reset">Reset</button>
          <button class="btn btn-primary mx-2" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>

</div>
