<div class="row">

  <div class=" m-2 col-3">
    <form [formGroup]="customerForm" (ngSubmit)="customerFormSubmit()">
      <div class="row">
        <app-input-field-rf [form]="customerForm" name="name" label="Name" type="text" placeholder="Enter Name">
        </app-input-field-rf>
      </div>
      <div class=" row">
        <app-input-field-rf [form]="customerForm" name="emailid" label="Email address" type="email"
          placeholder="Enter email">
        </app-input-field-rf>
      </div>
      <div class="row">
        <app-input-field-rf [form]="customerForm" name="mobile" label="Mobile" type="tel" placeholder="Enter Phone No">
        </app-input-field-rf>
      </div>
      <div class="row">
        <app-input-field-rf [form]="customerForm" name="address" label="Address" type="text"
          placeholder="Enter Address">
        </app-input-field-rf>
      </div>
      <div class="row">
        <div class="col-8 m-auto ">
          <app-button [className]="'btn btn-danger'" [type]="'reset'" [label]="'Reset'"></app-button>
          <app-button [className]="'btn btn-primary mx-2'" [type]="'submit'" [label]="'Submit'"></app-button>
        </div>
      </div>
    </form>
  </div>

</div>
